:root {
    --bg-color-light: rgb(243, 243, 243);
    --text-color-light: rgb(31, 31, 31);
    
    --bg-color-dark: rgb(31, 31, 31);
    --text-color-dark: rgb(243, 243, 243);

    --bg-color: var(--bg-color-light);
    --text-color: var(--text-color-light);
}

body {
    height: 80vh;

    background-color: var(--bg-color);
    color: var(--text-color);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p {
    font-size: 4rem;
}

button {
    font-size: 1.5rem;
    border: 2px solid var(--text-color);
    background-color: var(--text-color);
    color: var(--bg-color);

    padding: .75rem 1.5rem;
    border-radius: 2px;
}
button:hover {
    background-color: var(--bg-color);
    color: var(--text-color);
}